@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

:root {
    --black: #ffffff;
    --light-red: #dd4545;
}

.footer-container {
    width: 100vw;
    background-color: #030818;
    display: flex;
    justify-content: space-around;
    padding: 2rem 0 2rem 0; 
}

.footer-logo {
    width: 18vw;
}

.footer-logo h2 {
    font-size: 2rem;
}

h3,
h2,
.footer-logo p {
    color: #fff;
}

.footer-logo p {
    font-size: 1em;
    padding: 1.5rem 0rem;
    line-height: 1rem;
}

.fa {
    background-color: var(--black);
    color: #ffffff;
    padding: .6rem;
    border-radius: .3rem;
}

.icons {
    margin: 0rem 1.5rem;
}

.footer-links {
    width: 32vw;
    display: flex;
    justify-content: space-between;
    font-size: 1em;
}

.footer-links ul a li {
    list-style-type: none;
    padding: 1rem 0rem;
}

.footer-links ul a {
    text-decoration: none;
    color: #fff;
}

.footer-contactus {
    width: 17vw;
}

.footer-contactus button {
    padding: 1rem 2rem;
    background: var(--light-red);
    border: none;
    border-radius: 6px;
    color: #ffff;
    margin-top: 1rem;
    cursor: pointer;
}

.copywright-tag {
    background-color: #030818;
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
    color: #fff;
}

@media (max-width: 800px) {
    .footer-container {
        /* flex-direction: column; */
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .footer-logo {
        width: 80vw; 
        margin-bottom: .5rem;
        margin-left: 0rem;
    }

    .footer-links {
        flex-wrap: wrap;
    }

    .footer-links h3 {
        font-size: 1.5rem;
        margin: 1rem;
    }

    .footer-contactus {
        width: 100%; 
        margin-top: 2.4rem;
    }

    .footer-contactus h2 {
        font-size: 2rem;
        
    }
}
